/* app css stylesheet */

.Futbal>.btn-info, div.panel-heading.Futbal,.Tenis>.btn-info, div.panel-heading.Tenis{
  border-color: white;
  color: #753c3c;
}

.Futbal>.btn-info, div.panel-heading.Futbal{
  background-color: #6cda6e;
}

.Tenis>.btn-info, div.panel-heading.Tenis{
  background-color: #ecbd57;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
